{% extends "main/header.html" %}

{% block content %}
        <section class="sec1"></section>
        <section class="content">
	<p style="text-align: center">
		Sooooo the site is under construction. If something isn't working, don't freak out lol
	</p>
	<p style="text-align: center">
		-The Developer
	</p>
	<br>
            <p style="text-align: center">
                Just another university student.
            </p>
            <pre>
            
            
            
            
            
            </pre>
        </section>
{% endblock %}